/* Styles for Mobile Phone */

#header_img { 
    background-image: url(../images/gibbsLH.jpeg);
    background-size: cover;
    background-position: center;
}

body {
    background-color: #3ed7f2;
}
