/* Styles for Mobile Phone */

body {
    background-color: #000100;
}

#header_img { 
    background-image: url(../images/gibbsLH.jpeg);
    background-size: cover;
    background-position: center;
}

#header { 
    width: 55%;
}

