/* Styles for Mobile Phone */

body {
    background-color: #010D00;
    color:white;
}

.navbar {
    background-color: #010D00;
}

#header_img { 
    background-image: url(../images/Bermudaparrot.jpeg);
    background-size: cover;
    background-position: center;
}

#Reef_img { 
    background-image: url(../images/Coralreef.jpeg);
    background-size: cover;
    background-position: center;
}

#Lighthouse_img { 
    background-image: url(../images/gibbsLHmain.jpeg);
    background-size: cover;
    background-position: center;
}

#Beach_img { 
    background-image: url(../images/Bermudasunglasses.jpeg);
    background-size: cover;
    background-position: center;
}

#header { 
    width: 50%;
}

#button {
    padding-top: -100%;
    padding-left: 15px;
    padding-bottom: -150px;
}

#Horseshoe { 
    background-image: url(../images/HorseshoeBayBeach.jpeg);
    background-size: cover;
    background-position: center;
}

#Warwick{ 
    background-image: url(../images/Warwick.jpeg);
    background-size: cover;
    background-position: center;
}

#Elbow { 
    background-image: url(../images/Elbow.jpeg);
    background-size: cover;
    background-position: center;
}

@media (min-width: 1024px) {
    #panel_bg {
        width: 75%;
    }
}